ul {
  padding: 0;
  list-style: none;
}

/* Apartment Item */
li {
  padding: 10px;
  margin: 5px 0;
  background: #ffffff;
  border-radius: 6px;
}

.apartment-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.apartments-filter {
  width: 250px;
}

.apartments-filter form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Apartment Container */
.apartment-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: #f0f0f0;
  border-radius: 15px;
}

/* Img */
.apartment-img {
  width: 450px;
  height: 350px;
  border-radius: 15px;
}

/* List */
.apartments-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}

/* Title */
.apartment-title {
  font-family: "Magra", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  padding-left: 20px;
  color: rgb(0, 0, 0);
}

/* Rating Container */
.rating-price-container {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

/* Price */
.apartment-price {
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
}

/* Rating */
.apartment-rating {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
}

/* Description */
.apartment-description {
  font-family: "Magra", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

/* Rating Icon */
.icon-star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  padding-left: 5px;
}

/* Back Home Link */
.home-link {
  padding-left: 20px;
  padding-top: 60px;
}

/* Arrow back Icon */
.arrow-icon {
  width: 45px;
  height: 45px;
}
