@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Magra:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-field {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-field img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


.background-content {
    width: 1280px;
    height: 90%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.header-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1100px;
    align-items: center;
}

.header-container a {
    display: flex;
    align-items: center;
}

img.logo {
    height: 60px;
    width: auto;
}

img.login-button {
    height: 40px;
    width: 40px;  
}

.content-borders {
    width: 1280px;
    height: 1300px;
}
.background-text{
    width: 1000px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background-text h1{
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 54px;
    color: white;
}
.background-text h2{
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
    color: #c0ff72;
}
.search-field{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    width: 460px;
    height: 95%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
#selected-city{
    width: 220px;
    position: relative;
    right: 25px;
    padding: 2vh;
    border-radius: 30px;
    background-color: #e5e5e5;
    border: none;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: black;
    text-align: center;
}
.search-box button{
    width: 175px;
    padding: 2vh;
    border-radius: 30px;
    background-color: #c0ff72;
    border: none;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: black;
    text-align: center;
}
.tasks{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tasks h2{
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.tasks p{
    font-family: "Kite one", sans-serif;
    font-size: 24px;
}
.such-helper-block{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.description{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description h2{
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 40px;
}
.description p{
    font-family: "Magra", sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 40px;
}
.link-button{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.link-button a{
    background-color: #c0ff72;
    padding: 20%;
    border-radius: 50%;
    transition: 500ms;
}
.link-button a:hover{
    background-color: #dbfeaf;
    padding: 20%;
    border-radius: 50%;
    transition: 500ms;
    transform: scale(1.1);
}
.link-button img{
    width: 100%;
    height: 100%;
}
.link-button{
    font-family: "Magra", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.add-apart-block{
    width: 100%;
    height: 400px;
    padding-top: 150px;
}
.add-apart-text{
    width: 100%;
    height: 100px;
}
.add-apart-text h2{
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.add-apart-text p{
    font-family: "Magra", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.add-apart-button-field{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-apart-button-field a{
    padding: 50px;
    background-color: #c0ff72;
    border-radius: 20px;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: black;
    transition: 500ms;
}

.add-apart-button-field a:hover{
    background-color: #dbfeaf;
    transition: 500ms;
    transform: scale(1.1);
}
footer{
    width: 100%;
    height: 100px;
    background-color: #e2e3e5;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Magra", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #c1c1c1;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}